form {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

section {
  padding: 30px;
}

form h2 {
  margin-top: 25px;
}

fieldset {
  border-radius: 10px;
  padding: 20px;
}

legend {
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
}

.input-component {
  position: relative;
  border-radius: 5px;
  min-height: 50px;
  margin: 10px;
}

label {
  position: absolute;
  left: 0px;
  top: 0px;
  transition: all 0.3s ease;
  font-size: 16px;
  pointer-events: none;
}

.error {
  position: absolute;
  right: 0px;
  top: -18px;
  color: red;
  font-size: 0.7rem;
}

input,
textarea {
  font-family: inherit;
  font-size: 16px;
  width: 270px;
  background: none;
  border: none;
  padding: 2px 0px;
  border-style: none none solid none;
  border-color: rgb(189, 188, 188);
  color: var(--text-color);
  transition: all 0.3s ease;
}

#growingtextarea {
  display: block;
  overflow: hidden;
  resize: none;
}

input:hover,
textarea:hover {
  border-color: var(--text-color);
}

input:focus,
textarea:focus {
  outline: none !important;
  border-color: var(--accent-color);
}

input:focus + label,
input:not(:placeholder-shown) ~ label,
textarea:focus + label,
textarea:not(:placeholder-shown) ~ label {
  top: -18px;
  left: 0px;
  font-size: 0.7em;
  color: var(--accent-color);
}

input:not(:focus) + label,
textarea:not(:focus) + label {
  color: rgb(189, 188, 188);
}

button {
  font-size: 1em;
  padding: 8px 16px;
  margin: 0;
}
