form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 35px;
}

input,
select {
  width: 80px;
  height: 27px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: none;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

select {
  padding-left: 3px;
}

input:hover {
  box-shadow: 0px 0px 10px var(--accent-color);
}

input {
  padding: 7px;
  margin-right: 10px;
}

select:hover {
  box-shadow: 0px 0px 10px var(--accent-color);
}
