form {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

form h2 {
  margin-top: 25px;
  color: var(--text-color);
}

.input-component {
  position: relative;
}

label {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.3s ease;
  font-size: 16px;
  pointer-events: none;
}

.error {
  position: absolute;
  right: 5px;
  top: -18px;
  color: red;
  font-size: 0.7rem;
}

input,
textarea {
  font-family: inherit;
  font-size: 16px;
  width: 300px;
  background-color: var(--text-color);
  border-radius: 5px;
  border: none;
  padding: 10px;
}

textarea {
  height: 120px;
}

input:hover,
textarea:hover {
  box-shadow: 0 0 10px var(--text-color);
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: 0 0 10px var(--text-color);
}

input:focus + label,
input:not(:placeholder-shown) ~ label,
textarea:focus + label,
textarea:not(:placeholder-shown) ~ label {
  top: -22px;
  left: 0px;
  font-size: 1em;
  color: var(--text-color);
}

input.invalid,
textarea.invalid {
  box-shadow: 0 0 10px red;
}

input:focus.invalid,
textarea:focus.invalid {
  box-shadow: 0 0 10px red;
}

button {
  font-size: 1em;
  padding: 8px 16px;
  margin: 0;
}
